.max-tree-transfer{
  width: 800px;
  height: 500px;
  border: 1px solid #ff0;
  float: left;
}

.tree-transfer-left {
  width: 300px;
  height: 400px;
  border: 1px solid #f30;
  float: left;
}
.transfer-direction{
  width: 100px;
  height: 400px;
  border: 1px solid blue;
  float: left;
  margin: 0px 20px;
  /* line-height: 400px; */
  position: relative;
}
.direction-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tree-transfer-right{
  width: 300px;
  height: 400px;
  border: 1px solid salmon;
  float: left;
}